﻿body
{
background-color:white;
}
 
fieldset div {
	margin:0.3em 0;
	border-bottom-color:orange;
	clear:both;
}

.box
{
background-color:#3d4543;
height:300px;
width:275px;
border-radius:10px;
position:relative;
top:80px;
left:40%;
} 

.display
{
background-color:#222;
width:220px;
position:relative;
left:15px;
top:20px;
height:40px;
}
.display input
{
position:relative;
left:2px;
top:2px;
height:35px;
color:black;
background-color:#bccd95;
font-size:21px;
text-align:right;
} 

.keys
{
position:relative;
top:15px;
}
.button
{
width:40px;
height:30px;
border:none;
border-radius:8px;
margin-left:17px;
cursor:pointer;
border-top:2px solid transparent;
}
color:black;
background-color:#ff4561;
border-bottom:black 2px solid;
}
.button.black
{
color:black;
background-color:303030;
border-bottom:black 2px solid;
border-top:2px 303030 solid;
}
border-top:black 2px solid;
border-bottom:#ff4561 2px solid;
}
.black:active
{
border-top:black 2px solid;
border-bottom:#303030 2px solid;
}
p
{
line-height:10px;
}